# Игнорировать все папки __pycache__
__pycache__/

# Игнорировать все скомпилированные Python-файлы
*.pyc
*.pyo
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
